#campo {
    display: grid;
    margin:0 auto;
    padding:50px;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    width:400px;
    height:200px;
}

#campo imput {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    
}
.boton{
    width: 40px;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    background-color: gainsboro;
}

#frmTablero{
    text-align: center;
}

#titulo{
    margin: 20px;
    height: 50px;
    color:red;
    font-family: 'Erica one', cursive;
    font-size: 40px;
    text-align: center;
    text-shadow: 
               0 1px 0 white,
               0 2px 0 white,
               0 3px 0 white,
               0 4px 0 white,
               0 5px 0 white,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px yellow;
}
body {
    background: grey
}

body {
    text-align: center;
}
